name: Preprocess Padi Dataset

on:
  push:
    paths:
      - 'SML/iris_raw.csv'
      - 'SML/preprocessing/automate_I-Kadek-Bisma-Yoga.py'

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn

      - name: Run Preprocessing Script
        run: |
          python SML/preprocessing/automate_I-Kadek-Bisma-Yoga.py

      - name: Check generated file
        run: |
          if [ -f SML/preprocessing/iris_preprocessing.csv ]; then
            echo "File iris_preprocessing.csv berhasil dibuat."
          else
            echo "File gagal dibuat!"
            exit 1
          fi